// GENERAL

$bgPicture: "/app/components/img/mainBg.jpg";

// MAIN PAGE
$colRadius: 10px;
$Col1Bg: #41200d;
$Col1Picture: "/app/components/img/KvTomb.png";

$btnRegister: #fecc33;
$btnRegisterHover: #ff7a23;

$Col2Bg: #9b805a;
$accountInputBg: #b99d76;
$accountInputBorder: 1px solid #e0c7a4;
