body {
  background-attachment: fixed;
  background-image: url("/app/components/img/mainBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}

.bodyContainer {
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.connectPage {
  display: flex;
  flex-direction: row;
  height: 80vh;
  padding: 0 !important;
  width: 80vw;
}

.col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  background-image: url("/app/components/img/KvTomb.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #41200d;
}

.col2 {
  background-color: #9b805a;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  padding: 0 !important;
}

.logo {
  width: 25%;
  margin-bottom: 30px;
}

.accountBtn {
  padding: 10px 50px;
  border-radius: 50px;
  border: 1px solid red;
}

.registerBtn {
  font-weight: bold;
  color: #fecc33;
  border-color: #fecc33;
  border-width: 3px;
  transition: all 0.3s ease;
}

.registerBtn:hover {
  margin-top: 10px;
  font-size: 1.1em;
  color: #ff7a23;
  border-color: #ff7a23;
}

.col2 h1 {
  margin-bottom: 30px;
}

.accountForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
  justify-content: center;
}

.accountInput {
  height: 70px !important;
  width: 100%;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #e0c7a4;
  border-bottom: 1px solid #e0c7a4;
  background-color: #b99d76;
  color: white;
  font-weight: bold;
  padding: 0 30px;
}

.formButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: center;
  justify-content: center;
}
