@import "variables";
@font-face {
  font-family: "TitleFont";
  src: url("/app/components/font/Filmcryptic.ttf") format("truetype");
}

@mixin btnHover {
  color: $btnRegisterHover;
  font-size: 1.1em;
}

@mixin titles {
  color: $Col2Bg;
  font-family: "TitleFont";
  font-size: 4em;
  text-shadow: 2px 2px 4px $Col1Bg;
}

@mixin generalBtn {
  border-width: 3px;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
  padding: 10px 30px;
  border-radius: 50px;
  border: 1px solid transparent;

  &:hover {
    font-size: 1.2em;
    color: white;
    resize: both;
  }
}

@mixin tableBtn {
  border-width: 3px;
  font-weight: bold;
  transition: all 0.3s ease;
  padding: 5px 15px;
  border-radius: 50px;

  &:hover {
    font-size: 1.1em;
    resize: both;
  }
}

// GENERAL

body,
html {
  background-attachment: fixed;
  background-image: url($bgPicture);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  text-align: center;
}

h1 {
  @include titles();
}

a,
a:hover {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: #9b805a;
  padding: 10px 0;
  display: flex;
  justify-content: center;

  h1 {
    color: white !important;
    font-family: "TitleFont";
    font-size: 4em;
  }
}

.createBtn {
  border-color: rgb(92, 155, 21);
  background-color: rgb(92, 155, 21);
  @include generalBtn();
}

.modifyBtn {
  border-color: rgb(231, 204, 80);
  background-color: rgb(231, 204, 80);
  color: $Col1Bg;
  @include tableBtn();
  &:hover {
    color: $Col1Bg;
  }
}

.deleteBtn {
  border-color: rgb(202, 106, 50);
  background-color: rgb(202, 106, 50);
  color: white;
  @include tableBtn();
  &:hover {
    color: white;
  }
}

.returnBtn {
  border-color: $Col1Bg;
  background-color: $Col1Bg;
  @include generalBtn();
}

// MAIN PAGE - CONNECTION

.bodyContainer {
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.connectPage {
  display: flex;
  flex-direction: row;
  height: 80vh;
  padding: 0 !important;
  width: 80vw;
  box-shadow: 7px 7px 4px 0px rgba(65, 32, 13, 0.75);
  -webkit-box-shadow: 7px 7px 4px 0px rgba(65, 32, 13, 0.75);
  -moz-box-shadow: 7px 7px 4px 0px rgba(65, 32, 13, 0.75);
  border-top-left-radius: $colRadius;
  border-bottom-left-radius: $colRadius;
  border-top-right-radius: $colRadius;
  border-bottom-right-radius: $colRadius;

  .accountBtn {
    padding: 10px 50px;
    border: 1px solid;
    border-radius: 50px;
  }
}

// Left Column
.col1 {
  align-items: center;
  background-color: $Col1Bg;
  background-image: url($Col1Picture);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
  border-top-left-radius: $colRadius;
  border-bottom-left-radius: $colRadius;

  .registerBtn {
    border-color: $btnRegister;
    border-width: 3px;
    color: $btnRegister;
    font-weight: bold;
    transition: all 0.3s ease;

    &:hover {
      border-color: $btnRegisterHover;
      margin-top: 10px;
      @include btnHover();
    }
  }

  .logo {
    margin-bottom: 30px;
    width: 25%;
  }
}

// Right Column
.col2 {
  border-top-right-radius: $colRadius;
  border-bottom-right-radius: $colRadius;
  align-items: center;
  background-color: $Col2Bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 !important;
  vertical-align: center;

  h1 {
    margin-bottom: 30px;
    color: white;
    font-family: "TitleFont";
    font-size: 4em;
  }

  .accountForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    width: 100%;

    .inputRow {
      position: relative;
      width: 100%;

      i {
        position: absolute;
        right: 25px;
        top: 23px;
        color: white;
        opacity: 0.5;
        font-size: 1.5em;
      }
    }

    .accountInput {
      background-color: $accountInputBg;
      border: 0;
      border-bottom: $accountInputBorder;
      border-top: $accountInputBorder;
      color: white;
      font-weight: bold;
      height: 70px !important;
      margin-bottom: 20px;
      padding: 0 30px;
      width: 100%;
    }

    .formButtons {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      vertical-align: center;

      .forgottenPwd {
        color: $btnRegister;
        font-weight: bold;
        margin-right: 20px;
        transition: all 0.3s ease;

        &:hover {
          @include btnHover();
        }
      }

      .connexionBtn {
        border-color: white;
        background-color: transparent;
        border-width: 3px;
        color: white;
        font-weight: bold;
        transition: all 0.3s ease;
        opacity: 0.5;

        &:hover {
          font-size: 1.1em;
          opacity: 1;
        }
      }
    }
  }
}

// Administrator main page's design
.adminContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  h1 {
    @include titles();
  }

  .row {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0px 100px 0px;
  }

  .col-3 {
    display: flex;
    justify-content: center;

    .card {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      padding: 10px 5px;
      box-shadow: 11px 10px 5px 0px rgba(65, 32, 13, 0.75);
      -webkit-box-shadow: 11px 10px 5px 0px rgba(65, 32, 13, 0.75);
      -moz-box-shadow: 11px 10px 5px 0px rgba(65, 32, 13, 0.75);

      i {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        color: white;
      }

      .card-body {
        margin-top: 15px;
      }

      .adminBtn {
        border-color: white;
        background-color: transparent;
        border-width: 3px;
        color: white;
        font-weight: bold;
        transition: all 0.3s ease;
        opacity: 0.5;
        padding: 10px 30px;
        border: 1px solid;
        border-radius: 50px;

        &:hover {
          font-size: 1.1em;
          opacity: 1;
        }
      }
    }

    .categoryCard {
      background-color: $Col2Bg;
    }

    .levelCard {
      background-color: #8b6c42;
    }

    .questionCard {
      background-color: #856d4d;
    }

    .usersCard {
      background-color: #b67823;
    }
  }
}

// Page QUIZ

.quizDiv {
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div[class^="questionDiv"] {
  height: 70vh;
  width: 70vw;
  background-color: #9b805a !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.questionTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 5px 20px;
}

.answersDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.answer {
  font-size: 1.2rem;
  display: flex;
  width: 350px;
  height: 100px;
  align-items: center;
  border: 1px solid $Col1Bg;
  background-color: $Col1Bg;
  color: white;
  margin: 15px;
  padding: 15px 10px;
  border-radius: 10px;
  box-shadow: 11px 10px 5px 0px rgba(65, 32, 13, 0.75);
  -webkit-box-shadow: 11px 10px 5px 0px rgba(65, 32, 13, 0.75);
  -moz-box-shadow: 11px 10px 5px 0px rgba(65, 32, 13, 0.75);

  &:hover {
    cursor: pointer;
  }

  input[type="radio"] {
    opacity: 0;
    &:hover {
      cursor: pointer;
    }
  }

  label {
    cursor: pointer;
  }
}

.divider {
  border-color: black;
}

.quizTitle {
  margin-bottom: 2rem;
  font-size: 1.5rem;

  .subTitle {
    font-size: 1.2rem;
  }
}

.selectedAnswer {
  border: none;
  background-color: lighten($color: $Col1Bg, $amount: 20);
  box-shadow: 6px 5px 3px 0px rgba(65, 32, 13, 0.75);
  -webkit-box-shadow: 6px 5px 3px 0px rgba(65, 32, 13, 0.75);
  -moz-box-shadow: 6px 5px 3px 0px rgba(65, 32, 13, 0.75);
}

.btnNext {
  background-color: #554640;
  padding: 15px 70px;
  border: none;
  color: white;
  font-size: 1.5em;
  border-radius: 10px;
  box-shadow: 5px 6px 3px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 6px 3px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 6px 3px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;

  &:hover {
    background-color: lighten($color: #554640, $amount: 10);
    font-size: 1.7em;
  }
}

.btnNext.disabled {
  background-color: #55464063;
  padding: 15px 70px;
  border: none;
  color: rgba(255, 255, 255, 0.479);
  font-size: 1.5em;
  border-radius: 10px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  cursor: not-allowed;
}

.table td,
.table th {
  vertical-align: middle;
}
